.outerbox{
    display: flex;
    background-color: rgb(230, 220, 208);
    min-height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* to maintain the 
main-axis - justify-content
cross-axis - align-items

flex-direction: row;
[main axis] - :horizontal
[cross axis] - :vertical

flex-direction: column;
[main axis] - :vertical
[cross axis] - :horizontal */

.box{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 2px solid white;
}
/* .box1{
    align-self:flex-start;
}
.box4{
    align-self: flex-end;
} */
.box3{
    flex: 1;
}
.box4{
    flex-grow: 1;
}

/* ---- */
.container{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    padding: 10px;
    width: 150px;
    flex-wrap: wrap;
}
.container div{
    margin: 2px;
    padding: 5px;
    background-color: black;
    color: white;
}
/* ---- */
.content{
    display: flex;
    background-color: greenyellow;
    padding: 10px;
    /* justify-content: center; */
    justify-content: space-around;
    /* evenly seperate the space  */
    justify-content: space-between;


}
.content div{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 3px;
}
/* ---- */
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 5px;
    background-color: lightskyblue;
}
.subContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: black;
}
.b1{
    border-radius: 5px;
    height: 20px;
    width: 70px;
    background-color: orange;
    margin: 3px;
}